.postItem {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 15px;
  padding-right: 5px;
  display: flex;
  justify-content: space-between;
}

.description {
  padding-right: 5px;
}

.authorAndTime {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.author {
  color: rgb(224, 123, 0);
}

.time {
  margin-left: 15px;
  color: rgb(139, 139, 139);
  font-weight: 500;
}

.theme {
  margin-bottom: 10px;
}

.content {
  word-break: break-word;
  overflow: hidden;
  max-height: 120px;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid rgb(231, 231, 231);
  padding: 0 5px;
}

.icon {
  color: rgb(179, 179, 179);
}

.statsBtn {
  padding: 5px;
  border-radius: 3px;
  width: 38.63px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.statsBtn:hover {
  cursor: pointer;
  background: rgb(228, 228, 228);
}
