.postItem {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 15px;
  padding-right: 5px;
  display: flex;
  justify-content: space-between;
}

.description {
  padding-right: 5px;
  width: 100%;
}

.authorAndTime {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}

.author {
  color: rgb(224, 123, 0);
}

.time {
  margin-left: 15px;
  color: rgb(139, 139, 139);
  font-weight: 500;
}

.theme {
  display: -webkit-box;
  margin-bottom: 10px;
  word-break: break-word;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.contentWrapper {
  max-height: 130px;
  overflow: hidden;
  position: relative;
}

.exposed {
  max-height: none;
  padding-bottom: 35px;
}

.content {
  word-break: break-word;
}

.exposeContent {
  background: linear-gradient(to top, white 80%, transparent);
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  padding-top: 20px;
}

.exposeBtn {
  border: 1px solid rgb(224, 123, 0);
  color: rgb(224, 123, 0);
  padding: 3px 12px;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.exposeContent:hover {
  cursor: pointer;
}

.exposeContent:hover .exposeBtn {
  background: rgb(224, 123, 0);
  color: white;
}

.stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-left: 1px solid rgb(231, 231, 231);
  padding: 0 5px;
  width: max-content;
}

.icon {
  color: rgb(179, 179, 179);
}

.statsBtn {
  padding: 5px;
  border-radius: 3px;
  width: 38.63px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* .statsBtn:hover {
  cursor: pointer;
  background: rgb(228, 228, 228);
} */

@media screen and (max-width: 450px) {
  .theme {
    font-size: 27px;
  }
}
