.reply {
  margin-left: 5px;
  color: rgb(179, 179, 179);
  font-weight: 500;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-break: break-all;
  -webkit-line-clamp: 1;
  overflow: hidden;
  min-width: 70px;
  max-width: 120px;
}

.reply:hover {
  cursor: pointer;
  text-decoration: underline;
}

.showing {
  background: rgb(255, 220, 174);
}

@media screen and (max-width: 480px) {
  .reply {
    margin-left: 0;
    max-width: none;
  }
}
