.postsHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.authorAndTime {
  display: flex;
  align-items: center;
}

.author {
  color: rgb(224, 123, 0);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-break: break-all;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.time {
  margin-left: 15px;
  color: rgb(139, 139, 139);
  font-weight: 500;
  margin-right: 15px;
}

.manageBtns {
  display: flex;
}

.theme {
  margin-bottom: 10px;
  word-break: break-word;
}

.content {
  word-break: break-word;
}

@media screen and (max-width: 400px) {
  .postsHead {
    border-bottom: 1px solid rgb(230, 230, 230);
    padding-bottom: 10px;
    align-items: stretch;
  }
  .manageBtns {
    display: block;
  }
  .authorAndTime {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }
  .time {
    margin-left: 0;
  }
}
