.postsHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.authorAndTime {
  display: flex;
  align-items: center;
}

.author {
  color: rgb(224, 123, 0);
}

.time {
  margin-left: 15px;
  color: rgb(139, 139, 139);
  font-weight: 500;
}

.manageBtns {
  display: flex;
}

.theme {
  margin-bottom: 10px;
  word-break: break-word;
}

.content {
  word-break: break-word;
}

@media screen and (max-width: 400px) {
  .postsHead {
    border-bottom: 1px solid rgb(230, 230, 230);
    padding-bottom: 10px;
  }
  .manageBtns {
    display: block;
  }
  .authorAndTime {
    display: block;
  }
  .time {
    margin-left: 0;
  }
}
