.postsHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.authorAndTime {
  display: flex;
  align-items: center;
}

.author {
  color: rgb(224, 123, 0);
}

.time {
  margin-left: 15px;
  color: rgb(139, 139, 139);
  font-weight: 500;
}

.manageBtns {
  display: flex;
}

.theme {
  margin-bottom: 10px;
}

.content {
  word-break: break-word;
}
