.newPostForm {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.visibleWithFocus {
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: all 0.3s;
}

.newPostForm:focus-within .visibleWithFocus {
  visibility: visible;
  opacity: 1;
  height: 100%;
}

.authorAndTheme {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.author,
.replyReceiver {
  color: rgb(224, 123, 0);
  margin-right: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-break: break-word;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.submitGroup {
  display: flex;
  align-items: center;
  margin-top: 10px;
  position: relative;
  width: max-content;
}

.submitBtn {
  align-self: flex-end;
  background: rgb(238, 127, 37);
  border: 1px solid rgb(238, 127, 37);
  color: white;
  padding: 3px 10px;
  border-radius: 4px;
  margin-right: 15px;
}

.submitBtn:hover {
  cursor: pointer;
}

.replyReceiver {
  word-break: break-all;
  color: rgb(179, 179, 179);
}

.reply {
  color: rgb(179, 179, 179);
  font-weight: 500;
  display: flex;
  align-items: center;
}

.icon {
  font-size: 14px;
  margin-left: 10px;
}

.icon:hover {
  cursor: pointer;
}
