.comment {
  margin: 10px auto;
  width: 100%;
  padding: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  height: max-content;
  transition: all 0.3s;
}

.showing {
  background: rgb(255, 220, 174);
}

.postsHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.authorAndTime {
  display: flex;
  align-items: center;
}

.author {
  color: rgb(224, 123, 0);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-break: break-word;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.time {
  margin-left: 15px;
  color: rgb(139, 139, 139);
  font-weight: 500;
  white-space: nowrap;
  margin-right: 15px;
}

.manageBtns {
  display: flex;
}

.content {
  word-break: break-word;
}

.contentWrapper {
  max-height: 130px;
  overflow: hidden;
  position: relative;
}

.exposed {
  max-height: none;
  padding-bottom: 35px;
}

.exposeContent {
  background: linear-gradient(to top, white 80%, transparent);
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  padding-top: 20px;
}

.exposeBtn {
  border: 1px solid rgb(224, 123, 0);
  color: rgb(224, 123, 0);
  padding: 3px 12px;
  border-radius: 3px;
  display: flex;
  align-items: center;
}

.exposeContent:hover {
  cursor: pointer;
}

.exposeContent:hover .exposeBtn {
  background: rgb(224, 123, 0);
  color: white;
}

.replyBtn {
  padding: 5px;
  border-radius: 3px;
  width: 38.63px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.replyBtn:hover {
  cursor: pointer;
  background: rgb(228, 228, 228);
}

.icon {
  color: rgb(179, 179, 179);
  font-size: 14px;
}

@media screen and (max-width: 480px) {
  .authorAndTime {
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
  }
  .time {
    margin-left: 0;
  }
  .postsHead {
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(231, 231, 231);
    align-items: stretch;
  }
  .manageBtns {
    display: block;
  }
  .replyBtn {
    display: flex;
  }
}
