.settingsBlock {
  padding: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  min-width: 100%;
}

.inputContainer {
  margin-top: 20px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.formInput {
  border: 1px solid rgb(204, 204, 204);
  border-radius: 4px;
  margin-left: auto;
  padding: 3px;
}

.innerEditingBlock {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(238, 238, 238);
  border-radius: 10px;
  padding: 10px;
  max-width: 300px;
}

.innerEditingBlock .inputContainer {
  margin: 10px;
}

.innerEditingBlock .saveSubmit {
  align-self: flex-end;
  margin: 5px 10px;
}

.formInput:focus {
  outline: darkorange solid 1px;
}
.saveSubmit {
  margin-left: 7px;
  background: rgb(238, 127, 37);
  border: 1px solid rgb(238, 127, 37);
  color: white;
  padding: 3px 10px;
  border-radius: 4px;
}

.saveSubmit:disabled,
.saveSubmit:disabled:hover {
  background: grey;
  border: 1px solid grey;
  cursor: not-allowed;
}

.saveSubmit:hover {
  cursor: pointer;
}

@media screen and (max-width: 450px) {
  .inputContainer {
    /* margin: 0 auto; */
    margin-top: 20px;
    display: block;
    width: max-content;
    /* flex-direction: column; */
    align-items: flex-start;
    justify-content: space-between;
  }
}
