.rating {
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.ratingIconBlock {
  margin: 0 5px;
}

.ratingIconBlock .icon {
  margin-right: 5px;
}

.iconBtn {
  padding: 2px 10px;
  border-radius: 4px;
}

.iconBtn:hover {
  background: rgb(243, 243, 243);
  cursor: pointer;
}

.icon {
  color: rgb(179, 179, 179);
  pointer-events: none;
}

.iconBtn:hover > .upIcon {
  color: rgb(165, 219, 85);
}

.iconBtn:hover > .downIcon {
  color: rgb(201, 0, 0);
}
