.contentblock {
  margin-bottom: 40px;
  padding: 15px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  height: max-content;
}

.postPage {
  position: relative;
  margin: 20px auto;
  padding: 0 20px;
  max-width: 500px;
  width: 500px;
}

@media screen and (max-width: 700px) {
  .postPage {
    width: initial;
  }
}
