.notificationBox {
  background: rgba(0, 0, 0, 0.7);
  position: fixed;
  bottom: 25px;
  left: 25px;
  border-radius: 15px;
  padding: 15px;
  opacity: 0;
  transition: all 0.3s;
  display: flex;
  align-items: center;
  visibility: hidden;
  z-index: 10;
  margin-right: 20px;
}

.notification {
  color: white;
}

.notificationClose {
  margin-left: 15px;
  color: white;
  cursor: pointer;
}

.visible {
  visibility: visible;
  opacity: 1;
}
