.newPostForm {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 10px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 20px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.visibleWithFocus {
  visibility: hidden;
  opacity: 0;
  height: 0;
  transition: all 0.3s;
}

.newPostForm:focus-within .visibleWithFocus {
  visibility: visible;
  opacity: 1;
  height: 100%;
}

.authorAndTheme {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.author {
  color: rgb(224, 123, 0);
  margin-right: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-break: break-word;
  -webkit-line-clamp: 1;
  overflow: hidden;
  min-width: 150px;
  width: max-content;
}

.theme {
  min-width: 140px;
  font-size: 32px;
  font-weight: 700;
  font-family: inherit;
  border: none;
  border-radius: 7px;
  text-align: center;
}

.theme:focus {
  outline: rgba(255, 140, 0, 0.411) solid 1px;
}

.submitGroup {
  display: flex;
  align-items: center;
  margin-top: 10px;
  position: relative;
  width: max-content;
}

.submitBtn {
  align-self: flex-end;
  background: rgb(238, 127, 37);
  border: 1px solid rgb(238, 127, 37);
  color: white;
  padding: 3px 10px;
  border-radius: 4px;
  margin-right: 15px;
}

.submitBtn:hover {
  cursor: pointer;
}

.styledCheckbox {
  width: 11px;
  height: 11px;
  border-radius: 2px;
  margin-left: 10px;
  padding: 2px;
  outline: rgb(238, 127, 37) solid 1px;
  outline-offset: 2px;
}

.closeCommentsWrapper {
  display: flex;
  align-items: center;
}

.closeComments {
  position: absolute;
  opacity: 0;
  right: -3px;
  width: 17px;
  height: 17px;
}

.closeComments:checked ~ .styledCheckbox {
  background: rgb(238, 127, 37);
}

@media screen and (max-width: 400px) {
  .author {
    min-width: 80px;
  }
}

@media screen and (max-width: 315px) {
  .submitGroup {
    flex-direction: column-reverse;
  }
  .submitBtn {
    margin-right: 0;
    margin-top: 10px;
    align-self: flex-start;
  }
  .theme {
    font-size: 27px;
    min-width: 120px;
  }
}

@media screen and (max-width: 300px) {
  .author {
    min-width: 60px;
  }
}
