.notificationItem {
  max-width: 230px;
  display: flex;
  align-items: center;
}

.author {
  color: rgb(224, 123, 0);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  word-break: break-word;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.content {
  display: flex;
}

.link {
  margin-left: 5px;
  color: #42c0a1;
}

.link:hover {
  text-decoration: underline;
}
.time {
  color: rgb(139, 139, 139);
  font-weight: 500;
  margin-right: 15px;
  white-space: nowrap;
}

.unseenIcon {
  width: 7px;
  height: 7px;
  border-radius: 20px;
  background: #42c0a1;
  margin-right: 12px;
  margin-left: 3px;
  flex-shrink: 0;
  animation: blink infinite 1.5s;
}

@keyframes blink {
  0% {
    background: #42c0a1;
  }
  50% {
    background: #00ffbf;
  }
}
